In [2]:
pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/python/3.12.1/lib/python3.12/site-packages (23.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2025.12.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (4.4 kB)
Requirement already satisfied: pandas>=1.5.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from fastparquet) (3.0.0)
Requirement already satisfied: numpy in /usr/local/python/3.12.1/lib/python3.12/site-packages (from fastparquet) (2.4.1)
Collecting cramjam>=2.3 (from fastparquet)
  Downloading cramjam-2.11.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.6 kB)
Collecting fsspec (from fastparquet)
  Downloading fsspec-2026.1.0-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.12/site-packages (from fastparquet) (25.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.17.0)
Downloading fastparquet-2025.12.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 35.2 MB/s  0:00:00
Downloading cramjam-2.11.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 31.2 MB/s  0:00:00
Downloading fsspec-2026.1.0-py3-none-any.whl (201 kB)
Installing collected packages: fsspec, cramjam, fastparquet
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [fastparquet]
Successfully installed cramjam-2.11.0 fastparquet-2025.12.0 fsspec-2026.1.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import pyarrow
import fastparquet

In [9]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:postgres@localhost:5432/ny_taxi")

In [10]:
df_green = pd.read_parquet("green_tripdata_2025-11.parquet")
df_zones = pd.read_csv("taxi_zone_lookup.csv")

df_green.head(), df_zones.head()

(   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
 0         2  2025-11-01 00:34:48   2025-11-01 00:41:39                  N
 1         2  2025-11-01 00:18:52   2025-11-01 00:24:27                  N
 2         2  2025-11-01 01:03:14   2025-11-01 01:15:24                  N
 3         2  2025-11-01 00:10:57   2025-11-01 00:24:53                  N
 4         1  2025-11-01 00:03:48   2025-11-01 00:19:38                  N

    RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
 0         1.0            74            42              1.0           0.74
 1         1.0            74            42              2.0           0.95
 2         1.0            83           160              1.0           2.19
 3         1.0           166           127              1.0           5.44
 4         1.0           166           262              1.0           3.20

    fare_amount  ...  mta_tax  tip_amount  tolls_amount  ehail_fee  \
 0          7.2  ...      0.5        1.94           0.0        NaN
 1          7.2  ...      0.5        0.00           0.0        NaN
 2         13.5  ...      0.5        5.00           0.0        NaN
 3         24.7  ...      0.5        0.50           0.0        NaN
 4         18.4  ...      1.5        1.00           0.0        NaN

    improvement_surcharge  total_amount  payment_type  trip_type  \
 0                    1.0         11.64           1.0        1.0
 1                    1.0          9.70           2.0        1.0
 2                    1.0         21.00           1.0        1.0
 3                    1.0         27.70           1.0        1.0
 4                    1.0         24.65           1.0        1.0

    congestion_surcharge  cbd_congestion_fee
 0                  0.00                 0.0
 1                  0.00                 0.0
 2                  0.00                 0.0
 3                  0.00                 0.0
 4                  2.75                 0.0

 [5 rows x 21 columns],
    LocationID        Borough                     Zone service_zone
 0           1            EWR           Newark Airport          EWR
 1           2         Queens              Jamaica Bay    Boro Zone
 2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
 3           4      Manhattan            Alphabet City  Yellow Zone
 4           5  Staten Island            Arden Heights    Boro Zone)

In [11]:
df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)

In [12]:
df_green.to_sql("green_tripdata", engine, if_exists="replace", index=False)
df_zones.to_sql("taxi_zone_lookup", engine, if_exists="replace", index=False)

265

In [14]:
q3 = """
SELECT
  COUNT(*) FILTER (WHERE trip_distance <= 1) AS up_to_1_mile,
  COUNT(*) FILTER (WHERE trip_distance > 1 AND trip_distance <= 3) AS between_1_and_3,
  COUNT(*) FILTER (WHERE trip_distance > 3 AND trip_distance <= 7) AS between_3_and_7,
  COUNT(*) FILTER (WHERE trip_distance > 7 AND trip_distance <= 10) AS between_7_and_10,
  COUNT(*) FILTER (WHERE trip_distance > 10) AS over_10
FROM green_tripdata
WHERE lpep_pickup_datetime >= '2025-11-01'
  AND lpep_pickup_datetime < '2025-12-01';
"""

pd.read_sql(q3, engine)

   up_to_1_mile  between_1_and_3  between_3_and_7  between_7_and_10  over_10
0          8007            23859            10047              2428     2550

In [17]:
q4 = """
SELECT
  DATE(lpep_pickup_datetime) AS pickup_day,
  MAX(trip_distance) AS max_distance
FROM green_tripdata
WHERE trip_distance < 100
GROUP BY DATE(lpep_pickup_datetime)
ORDER BY max_distance DESC
LIMIT 1;
"""

pd.read_sql(q4, engine)

   pickup_day  max_distance
0  2025-11-14         88.03

In [23]:
q5 = """
SELECT
  z."Zone" AS pickup_zone,
  SUM(g.total_amount) AS total_amount_sum
FROM green_tripdata g
JOIN taxi_zone_lookup z
  ON g."PULocationID" = z."LocationID"
WHERE DATE(g.lpep_pickup_datetime) = '2025-11-18'
GROUP BY z."Zone"
ORDER BY total_amount_sum DESC
LIMIT 10;
"""

pd.read_sql(q5, engine)

                   pickup_zone  total_amount_sum
0            East Harlem North           9281.92
1            East Harlem South           6696.13
2                 Central Park           2378.79
3     Washington Heights South           2139.05
4          Morningside Heights           2100.59
5                      Jamaica           1998.11
6                  Fort Greene           1780.41
7  Downtown Brooklyn/MetroTech           1499.02
8                 Forest Hills           1423.75
9                     Elmhurst           1251.82

In [27]:
q6 = """
SELECT
  z_do."Zone" AS dropoff_zone,
  SUM(g.tip_amount) AS total_tip
FROM green_tripdata g
JOIN taxi_zone_lookup z_pu
  ON g."PULocationID" = z_pu."LocationID"
JOIN taxi_zone_lookup z_do
  ON g."DOLocationID" = z_do."LocationID"
WHERE z_pu."Zone" = 'East Harlem North'
  AND g.lpep_pickup_datetime >= '2025-11-01'
  AND g.lpep_pickup_datetime < '2025-12-01'
  AND z_do."Zone" IN (
      'JFK Airport',
      'Yorkville West',
      'East Harlem North',
      'LaGuardia Airport'
  )
GROUP BY z_do."Zone"
ORDER BY total_tip DESC;

"""

pd.read_sql(q6, engine)

        dropoff_zone  total_tip
0     Yorkville West    2403.17
1  LaGuardia Airport    1835.52
2  East Harlem North     604.10
3        JFK Airport     307.66