In [1]:
import pandas as pd

In [3]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:postgres@localhost:5432/ny_taxi")

In [5]:
df_green = pd.read_csv("green_tripdata_2019-10.csv", low_memory=False)
df_zones = pd.read_csv("taxi_zone_lookup.csv")

df_green.head(), df_zones.head()

(   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
 0       2.0  2019-10-01 00:26:02   2019-10-01 00:39:58                  N
 1       1.0  2019-10-01 00:18:11   2019-10-01 00:22:38                  N
 2       1.0  2019-10-01 00:09:31   2019-10-01 00:24:47                  N
 3       1.0  2019-10-01 00:37:40   2019-10-01 00:41:49                  N
 4       2.0  2019-10-01 00:08:13   2019-10-01 00:17:56                  N

    RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
 0         1.0           112           196              1.0           5.88
 1         1.0            43           263              1.0           0.80
 2         1.0           255           228              2.0           7.50
 3         1.0           181           181              1.0           0.90
 4         1.0            97           188              1.0           2.52

    fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
 0         18.0   0.50      0.5        0.00           0.0        NaN
 1          5.0   3.25      0.5        0.00           0.0        NaN
 2         21.5   0.50      0.5        0.00           0.0        NaN
 3          5.5   0.50      0.5        0.00           0.0        NaN
 4         10.0   0.50      0.5        2.26           0.0        NaN

    improvement_surcharge  total_amount  payment_type  trip_type  \
 0                    0.3         19.30           2.0        1.0
 1                    0.3          9.05           2.0        1.0
 2                    0.3         22.80           2.0        1.0
 3                    0.3          6.80           2.0        1.0
 4                    0.3         13.56           1.0        1.0

    congestion_surcharge
 0                   0.0
 1                   0.0
 2                   0.0
 3                   0.0
 4                   0.0  ,
    LocationID        Borough                     Zone service_zone
 0           1            EWR           Newark Airport          EWR
 1           2         Queens              Jamaica Bay    Boro Zone
 2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
 3           4      Manhattan            Alphabet City  Yellow Zone
 4           5  Staten Island            Arden Heights    Boro Zone)

In [6]:
df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)

In [9]:
df_green.to_sql("green_tripdata", engine, if_exists="replace", index=False)
df_zones.to_sql("taxi_zone_lookup", engine, if_exists="replace", index=False)

265

In [10]:
q3 = """
SELECT
  COUNT(*) FILTER (WHERE trip_distance <= 1) AS up_to_1_mile,
  COUNT(*) FILTER (WHERE trip_distance > 1 AND trip_distance <= 3) AS between_1_and_3,
  COUNT(*) FILTER (WHERE trip_distance > 3 AND trip_distance <= 7) AS between_3_and_7,
  COUNT(*) FILTER (WHERE trip_distance > 7 AND trip_distance <= 10) AS between_7_and_10,
  COUNT(*) FILTER (WHERE trip_distance > 10) AS over_10
FROM green_tripdata
WHERE lpep_pickup_datetime >= '2019-10-01'
  AND lpep_pickup_datetime < '2019-11-01';
"""

pd.read_sql(q3, engine)

   up_to_1_mile  between_1_and_3  between_3_and_7  between_7_and_10  over_10
0        104830           198995           109642             27686    35201